@charset "UTF-8";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../static/fonts/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../static/fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("../../static/fonts/material-icons/MaterialIcons-Regular.woff") format("woff"), url("../../static/fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

.layout-container nav.block-menu:after {
  content: "";
  display: table;
  clear: both;
}

.layout-container nav.block-menu .menu-toggle:before {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
}

.layout-container nav.block-menu > .menu-toggle {
  float: left;
}

.layout-container nav.block-menu > .menu-toggle:hover {
  cursor: pointer;
}

.layout-container nav.block-menu > .menu-toggle:hover:before {
  color: #0000FF;
}

.layout-container nav.block-menu > .menu-toggle:before {
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #999999;
}

.layout-container nav.block-menu .menu-toggle:not(.menu-shown):not(.menu-hovered) ~ ul.menu {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item {
  clear: both;
  width: 100%;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item:after {
  content: "";
  display: table;
  clear: both;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item > a {
  width: auto;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item:not(.menu-item--parent):before {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #999999;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item.menu-item--expanded {
  background-color: transparent;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item:focus {
  outline: none;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item ul {
  margin: 0 0 0 16px;
}

.layout-container nav.block-menu > ul.menu-root li.menu-item ul li {
  width: 100%;
}

.layout-container nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:before {
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #999999;
}

.layout-container nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle.menu-shown:before {
  content: '\e5ce';
}

.layout-container nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle {
  margin-right: 0;
}

.layout-container nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:before {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
}

.layout-container nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:hover {
  cursor: pointer;
}

.layout-container nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:hover:before {
  color: #0000FF;
}

.layout-container nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:before {
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: #999999;
}

.layout-container nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle.menu-shown:before {
  content: '\e5cc';
}

.layout-container nav.block-menu ul.menu {
  padding: 0;
  margin: 0;
}

.layout-container nav.block-menu ul.menu:after {
  content: "";
  display: table;
  clear: both;
}

.layout-container nav.block-menu ul.menu li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
