// Used on nav.block-menu.menu--main
@mixin menu-nested {
  @include clearfix;
  .menu-toggle {
    &:before {
      @include iconbox;
    }
  }
  > .menu-toggle {
    float: left;
    &:hover {
      cursor: pointer;
      &:before {
        color: #0000FF;
      }
    }
    &:before {
      @include materialicon('\e5d2');
    }
  }
  .menu-toggle:not(.menu-shown):not(.menu-hovered) ~ ul.menu {
    @include visually-hidden;
  }
  > ul.menu-root {
    li.menu-item {
      @include clearfix;
      clear: both;
      width: 100%;
      > a {
        width: auto;
      }
      &:not(.menu-item--parent) {
        &:before {
          @include iconbox;
          @include materialicon('\e5cc');
        }
      }
      &.menu-item--expanded {
        background-color: transparent;
      }
      &:focus {
        outline: none;
      }
      ul {
        margin: 0 0 0 16px;
        li {
          width: 100%;
        }
      }
    }
  }
  &.menu-teamenu {
    > ul.menu-root {
      li.menu-item {
        &.menu-item--parent {
          > .menu-toggle {

            &:before {
              @include materialicon('\e5cf');
            }
            &.menu-shown {
              &:before {
                content: '\e5ce';
              }
            }
          }
        }
        &.menu-item--parent {
          > .menu-toggle {
            &:before {
              @include iconbox;
            }
            margin-right: 0;
            &:hover {
              cursor: pointer;
              &:before {
                color: #0000FF;
              }
            }
          }
        }
      }
    }
  }
  &.menu-not-teamenu {
    > ul.menu-root {
      li.menu-item {
        &.menu-item--parent {
          > .menu-toggle {
            &:before {
              @include materialicon('\e5cc');
            }
            &.menu-shown {
              &:before {
                content: '\e5cc';
              }
            }
          }
        }
      }
    }
  }
}
