@mixin list-plain {
  padding: 0;
  margin: 0;
  @include clearfix;
  li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
}

@mixin list-plain-inline {
  @include list-plain;
  li {
    display: inline-block;
  }
}
